
@{
    ViewBag.Title = "AcessoNaoPermitido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <div class="login-box">
        <div class="login-logo">
            <b></b>Acesso/Permissão
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"><br />Acesso não permitido</p>

            <div class="row">
             

            </div>



        </div>
     
    </div>
   


    </section>

